## Student Information
**Student ID** 25000148967

**GitHub Repository Link** https://github.com/robwhite-lis/Everything_Counts_Assessment_2

In [2]:
# Here is the boiler plate code we use to read in the raw data from GitHub
#

import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import io
import requests
import matplotlib.pyplot as plt
# seaborn is a better tool for this with more examples 
import seaborn as sns


df_url = 'https://raw.githubusercontent.com/robwhite-lis/Everything_Counts_Assessment_2/refs/heads/main/census-2021-publicmicrodatateachingsample.csv'
url_content = requests.get(df_url, verify = False).content
df = pd.read_csv(io.StringIO(url_content.decode('utf-8')))

df

,resident_id_m,approx_social_grade,country_of_birth_3a,economic_activity_status_10m,ethnic_group_tb_6a,health_in_general,hh_families_type_6a,hours_per_week_worked,in_full_time_education,industry_10a,iol22cd,legal_partnership_status_6a,occupation_10a,region,religion_tb,residence_type,resident_age_7d,sex,usual_short_student
0,PTS000000588097,4,1,1,4,1,4,4,2,4,-8,1,5,E12000003,2,1,4,2,1
1,PTS000000000320,-8,1,5,4,2,1,-8,2,7,-8,1,2,E12000005,2,1,7,2,1
2,PTS000000397448,-8,2,5,4,2,1,-8,2,7,-8,1,3,E12000002,2,1,7,2,1
3,PTS000000082442,-8,1,5,4,3,2,-8,2,8,-8,2,8,E12000006,2,1,7,1,1
4,PTS000000016066,4,1,8,4,2,1,-8,2,9,-8,1,9,E12000002,1,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604346,PTS000000166524,-8,2,6,4,1,-8,-8,1,-8,-8,1,-8,E12000006,9,2,2,2,1
604347,PTS000000246489,2,1,1,4,2,2,3,2,5,-8,2,7,E12000002,2,1,6,1,1
604348,PTS000000177162,-8,1,9,4,2,-8,-8,2,-8,-8,1,-8,E12000001,2,2,6,1,1
604349,PTS000000377217,-8,1,6,4,1,-8,-8,1,7,-8,1,5,E12000001,1,2,2,2,1
604350,PTS000000377192,1,2,2,1,1,2,3,2,7,-8,2,1,E12000001,1,1,4,2,1

In [4]:
df.dtypes

resident_id_m                   object
approx_social_grade              int64
country_of_birth_3a              int64
economic_activity_status_10m     int64
ethnic_group_tb_6a               int64
health_in_general                int64
hh_families_type_6a              int64
hours_per_week_worked            int64
in_full_time_education           int64
industry_10a                     int64
iol22cd                         object
legal_partnership_status_6a      int64
occupation_10a                   int64
region                          object
religion_tb                      int64
residence_type                   int64
resident_age_7d                  int64
sex                              int64
usual_short_student              int64
dtype: object

In [4]:
df.columns

Index(['resident_id_m', 'approx_social_grade', 'country_of_birth_3a',
       'economic_activity_status_10m', 'ethnic_group_tb_6a',
       'health_in_general', 'hh_families_type_6a', 'hours_per_week_worked',
       'in_full_time_education', 'industry_10a', 'iol22cd',
       'legal_partnership_status_6a', 'occupation_10a', 'region',
       'religion_tb', 'residence_type', 'resident_age_7d', 'sex',
       'usual_short_student'],
      dtype='object')

In [3]:
females = df[df['sex'] == 2]
females

,resident_id_m,approx_social_grade,country_of_birth_3a,economic_activity_status_10m,ethnic_group_tb_6a,health_in_general,hh_families_type_6a,hours_per_week_worked,in_full_time_education,industry_10a,iol22cd,legal_partnership_status_6a,occupation_10a,region,religion_tb,residence_type,resident_age_7d,sex,usual_short_student
0,PTS000000588097,4,1,1,4,1,4,4,2,4,-8,1,5,E12000003,2,1,4,2,1
1,PTS000000000320,-8,1,5,4,2,1,-8,2,7,-8,1,2,E12000005,2,1,7,2,1
2,PTS000000397448,-8,2,5,4,2,1,-8,2,7,-8,1,3,E12000002,2,1,7,2,1
4,PTS000000016066,4,1,8,4,2,1,-8,2,9,-8,1,9,E12000002,1,1,2,2,1
5,PTS000000294257,-8,2,5,1,4,2,-8,2,5,-8,2,1,E12000003,6,1,7,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604343,PTS000000535091,-8,1,5,4,1,1,-8,2,5,-8,1,5,E12000003,2,1,7,2,1
604344,PTS000000197611,2,1,2,4,2,3,4,2,5,-8,1,7,E12000008,1,1,5,2,1
604346,PTS000000166524,-8,2,6,4,1,-8,-8,1,-8,-8,1,-8,E12000006,9,2,2,2,1
604349,PTS000000377217,-8,1,6,4,1,-8,-8,1,7,-8,1,5,E12000001,1,2,2,2,1
604350,PTS000000377192,1,2,2,1,1,2,3,2,7,-8,2,1,E12000001,1,1,4,2,1

## Hypothesis
Single parent households, it shouldn't make a difference if the parent is male or female to wealth
Single parent households, it shouldn't make a difference which gender group the parent is from to wealth


resident_id_m 
    - code unique to each resident
    
approx_social_grade
    -8	Does not apply    
1	AB Higher and intermediate managerial/administrative/professional occupations    
2	C1 Supervisory, clerical and junior managerial/administrative/professional occupation    s
3	C2 Skilled manual occupatio    ns
4	DE Semi-skilled and unskilled manual occupations; unemployed and lowest grade occupatih_3a
economic_activity_status
    -8	Does not apply    
1	Economically active (excluding full-time students): In employment: Employee    
2	Economically active (excluding full-time students): In employment: Self-employe    d
3	Economically active (excluding full-time students): Unemployed: Seeking work or waiting to start a job already obtained: Available to start working within 2 wee    ks
4	Economically active and a full-time stud    ent
5	Economically inactive: Ret    ired
6	Economically inactive: St    udent
7	Economically inactive: Looking after home or     family
8	Economically inactive: Long-term sick or d    isabled
9	Economically inactiv

_group_tb_6a
healt-8	Does not apply
1	Very good health
2	Good health
3	Fair health
4	Bad health
5	Very bad he





h_in_general


hh_families_type_6a
	-8	Does not apies)a	1	One-person houseries)6a	2	Married or civil partnership couple housories_6a	3	Cohabiting couple hougoriee_6a	4	Lone parent hoegoripe_6a	5	Multi-person htegoro-8	Does not apply
1	Student
2	Not a studen



rked
in_ful-8	Does not apply
1	A Agriculture, forestry and fishing
2	C Manufacturing
3	B, D, E Energy and water
4	F Construction
5	G, I Distribution, hotels and restaurants
6	H, J Transport and communication
7	K, L, M, N Financial, real estate, professional and administrative activities
8	O, P, Q Public administration, education and health
9	R, S, T, U Otherl_-8	Does not apply
E13000001	Inner London
E13000002	Outer london




time_edu

cation
industr

-8	Does not apply
1	Never married and never registered a civil partnership
2	Married or in a registered civil partnership
3	Separated, but still legally married or still legally in a civil partnership
4	Divorced or civil partnership dissolved
5	Widowed or surviving civil partnership partner


y_10a
iol22
-8	Does not apply
1	1. Managers, directors and senior officials
2	2. Professional occupations
3	3. Associate professional and technical occupations
4	4. Administrative and secretarial occupations
5	5. Skilled trades occupations
6	6. Caring, leisure and other service occupations
7	7. Sales and customer service occupations
8	8. Process, plant and machine operatives
9	9. Elementary occupationsn

E12000001	North East
E12000002	North West
E12000003	Yorkshire and The Humber
E12000004	East Midlands
E12000005	West Midlands
E12000006	East of England
E12000007	London
E12000008	South East
E12000009	South West
N99999999	Does not apply: Northern Ireland
S99999999	Does not apply: Scotland
W92000004	Waleson_tb

-8	Does not apply
1	No religion
2	Christian
3	Buddhist
4	Hindu
5	Jewish
6	Muslim
7	Sikh
8	Other religion
9	Not answered
lega



l
1	Lives in a household
2	Lives in a communal establishment
_partnershi


p_s
-8	Does not apply
1	Aged 15 years and under
2	Aged 16 to 24 years
3	Aged 25 to 34 years
4	Aged 35 to 44 years
5	Aged 45 to 54 years
6	Aged 55 to 64 years
7	Aged 65 years and over
-8	Does not apply
1	Female
2	Male

tatus_6a
occ

upatio-8  Does not apply